<?xml version="1.0"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<appSettings>
		<!--<add key="connString" value="Data Source=LocalHost;Initial Catalog=DbJianLi0127;User ID=sa;Password=liaowei"/>-->
		<add key="connString" value="Data Source=59.188.83.161;Initial Catalog=a0723104249;User ID=a0723104249;Password=83419964"/>
    <add key="pw" value="000000"/>
	</appSettings>
	<system.web>
		<compilation debug="true" targetFramework="4.0"/>
		<sessionState mode="InProc" cookieless="false" timeout="300"/>
	</system.web>
  <system.web.extensions>
    <scripting>
      <webServices>
        <!-- 最大值 2097152  -->
        <jsonSerialization maxJsonLength="10000000">
   
        </jsonSerialization>
      </webServices>
    </scripting>
  </system.web.extensions>
</configuration>
